.body {
  background-color: #dc143c;
  min-height: 100vh;
}

.top-rank-course, .common-col, .newest-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 550px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.header-mycourse {
  display: flex;
  justify-content: space-between;
}

.inprogress-col, .complete-col,.expired-col  {
  border: 1px solid #fff;
  background-color: #fff;
  height: 550px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.NavbarLink {
  margin-bottom: 20px;
}

.NavbarTop {
  margin-bottom: 20px;
}

.form {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 16px;
  flex: 1;
}

.week-col, .month-col, .year-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 550px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.incart-container {
  background-color: #fff;
  border-radius: 8px;
  height: 400px;
  justify-content: center;
}

.pay-but {
  margin-top: 200px;
}

.order-col {
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.price-col {
  text-align: right;
  margin-right: 20px;
}

.item-cart, .price-cart {
  background-color: #d8d6d6;
  height: fit-content;
  border-radius: 8px;
}
