.body {
  background-color: #dc143c;
}

.top-rank-course, .common-col, .newest-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 550px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}


.cart-container {
  border: 1px solid #fff;
  background-color: #fff;
  height: 550px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.incart-container {
  background-color: #b3b3b3;
  height: 450px;
  border-radius: 8px;
  margin-bottom: 20px;

}

.header-mycourse {
  display: flex;
  justify-content: space-between;
}

.inprogress-col, .complete-col,.expired-col  {
  border: 1px solid #fff;
  background-color: #fff;
  height: 550px;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.NavbarLink {
  margin-bottom: 20px;
}

.NavbarTop {
  margin-bottom: 20px;
}

.week-col, .month-col, .year-col {
  background-color: #fff;
  border: 1px solid #fff;
  height: 550px;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
}
