.body {
  background-color: #ff2121;
  min-height: 100vh;
}

.top-rank-course,
.common-col,
.newest-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 500px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 70vh;
}

.header-mycourse {
  display: flex;
  justify-content: space-between;
}

.inprogress-col,
.complete-col,
.expired-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 500px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.NavbarLink {
  margin-bottom: 20px;
}

.NavbarTop {
  margin-bottom: 20px;
}

.week-col,
.month-col,
.year-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 500px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
  min-height: 80vh;
}

.incart-container {
  background-color: #fff;
  border-radius: 8px;
  height: 400px;
  justify-content: center;
  height: 100%;
}

.pay-but {
  margin-top: 1cd s0px;
}

.order-col {
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.price-col {
  text-align: right;
  margin-right: 20px;
}

.item-cart,
.price-cart {
  background-color: #d8d6d6;
  height: fit-content;
  border-radius: 8px;
}

.item-top,
.item-common,
.item-newest {
  height: 400px;
  border-radius: 8px;
}

.item-inpro,
.item-complete,
.item-expired {
  height: 400px;
  border-radius: 8px;
}

.item-week,
.item-month,
.item-year {
  height: 400px;
  border-radius: 8px;
}

.course-info {
  border: 1px solid #fff;
  background-color: #fff;
  height: fit-content;
  border-spacing: 30px;
  border-radius: 8px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.course-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.course-image {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.image-col {
  justify-content: left;
}

.body-col {
  justify-content: right;
}

.header-toprank,
.header-common,
.header-newest,
.header-inpro,
.header-com,
.header-exp {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
  margin-top: 15px;
  text-align: flex;
}

.header-cart {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fire-image,
.common-image,
.newest-image {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.no-course-message {
  font-size: 18px;
}

.total-price {
  font-size: 18px;
}

.syllabus-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 500px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.courseData-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 500px;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.overflow-y-scroll {
  overflow-y: auto;
  max-height: 500px;
}

.payment-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pay-button {
  width: 200px;
}

.item-cart {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.item-cart p {
  margin-bottom: 5px;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pay-button {
  width: 200px;
}

.cart-container {
  margin-top: 20px;
}

.vertical-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-link {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #0056b3;
}

.progressBar {
  margin-top: 20px;
}

.progressBar .progress-bar {
  background-color: #f21f1f;
}

/* ManageData.css */

.manage-data-container {
  padding: 20px;
}

.header {
  font-size: 24px;
  margin-bottom: 10px;
}

.role {
  font-size: 18px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.section-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.data-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.data-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.data-item-actions {
  margin-top: 10px;
  /* margin-left: auto; */
  /* margin-right: auto; */

}

.edit-button,
.delete-button {
  margin-right: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.confirm-delete {
  margin-top: 10px;
}

.confirm-delete button {
  margin-right: 10px;
}

.edit-form {
  margin-top: 10px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.section-header {
  margin-top: 30px;
}

.data-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.data-item-actions {
  margin-top: 10px;
}

.header,
.role {
  text-align: center;
}

.Sbody {
  background-color: #ff2121;
  min-height: 100vh;
}

.cssload-box-loading {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cssload-box-loading:before {
  content: "";
  width: 70px;
  height: 7px;
  background: #000000;
  opacity: 0.2;
  position: absolute;
  top: 78px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.58s linear infinite;
  -o-animation: shadow 0.58s linear infinite;
  -ms-animation: shadow 0.58s linear infinite;
  -webkit-animation: shadow 0.58s linear infinite;
  -moz-animation: shadow 0.58s linear infinite;
}

.cssload-box-loading:after {
  content: "";
  width: 70px;
  height: 70px;
  background: url("../public/logo.png");
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 3px;
  animation: cssload-animate 0.58s linear infinite;
  -o-animation: cssload-animate 0.58s linear infinite;
  -ms-animation: cssload-animate 0.58s linear infinite;
  -webkit-animation: cssload-animate 0.58s linear infinite;
  -moz-animation: cssload-animate 0.58s linear infinite;
}

@keyframes cssload-animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  17% {
    border-bottom-right-radius: 10px;
  }

  25% {
    transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(67.5deg);
  }

  75% {
    transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@-o-keyframes cssload-animate {
  0% {
    -o-transform: translateY(0) rotate(0deg);
  }

  17% {
    border-bottom-right-radius: 10px;
  }

  25% {
    -o-transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  50% {
    -o-transform: translateY(18px) scale(1, 0.9) rotate(67.5deg);
  }

  75% {
    -o-transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  100% {
    -o-transform: translateY(0) rotate(0deg);
  }
}

@-ms-keyframes cssload-animate {
  0% {
    -ms-transform: translateY(0) rotate(0deg);
  }

  17% {
    border-bottom-right-radius: 10px;
  }

  25% {
    -ms-transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  50% {
    -ms-transform: translateY(18px) scale(1, 0.9) rotate(67.5deg);
  }

  75% {
    -ms-transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  100% {
    -ms-transform: translateY(0) rotate(0deg);
  }
}

@-webkit-keyframes cssload-animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
  }

  17% {
    border-bottom-right-radius: 10px;
  }

  25% {
    -webkit-transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(67.5deg);
  }

  75% {
    -webkit-transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  100% {
    -webkit-transform: translateY(0) rotate(0deg);
  }
}

@-moz-keyframes cssload-animate {
  0% {
    -moz-transform: translateY(0) rotate(0deg);
  }

  17% {
    border-bottom-right-radius: 10px;
  }

  25% {
    -moz-transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  50% {
    -moz-transform: translateY(18px) scale(1, 0.9) rotate(67.5deg);
  }

  75% {
    -moz-transform: translateY(9px) rotate(45deg);
    border-bottom-right-radius: 39px;
  }

  100% {
    -moz-transform: translateY(0) rotate(0deg);
  }
}

@keyframes shadow {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

@-o-keyframes shadow {

  0%,
  100% {
    -o-transform: scale(1, 1);
  }

  50% {
    -o-transform: scale(1.2, 1);
  }
}

@-ms-keyframes shadow {

  0%,
  100% {
    -ms-transform: scale(1, 1);
  }

  50% {
    -ms-transform: scale(1.2, 1);
  }
}

@-webkit-keyframes shadow {

  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.2, 1);
  }
}

@-moz-keyframes shadow {

  0%,
  100% {
    -moz-transform: scale(1, 1);
  }

  50% {
    -moz-transform: scale(1.2, 1);
  }
}

.scrollbar {
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

.dateText {
  margin-top: 3%;
  font-size: small;
}

.password {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  width: 150px;
}

.password:before,
.password:after {
  content: "";
  height: inherit;
  background: transparent;
  display: block;
  border-color: #ddd;
  border-style: solid;
  border-width: 0 1px 0;
  position: absolute;
  width: calc(25% - 1px);
  z-index: 10;
}

.password:before {
  left: calc(25%);
}

.password:after {
  right: calc(25%);
}

.strength-1::-webkit-progress-value {
  background-color: #f25f5c;
  width: 100%;
}

.strength-2::-webkit-progress-value {
  background-color: orange;
  width: 100%;
}

.strength-3::-webkit-progress-value {
  background-color: #70c1b3;
  width: 100%;
}

.strength-4::-webkit-progress-value {
  background-color: #084c1eba;
  width: 100%;
}

.strength-1,
.strength-0s {
  color: #f25f5c;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}

.strength-2 {
  color: orange;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}

.strength-3 {
  color: #70c1b3;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}

.strength-4 {
  color: #084c1eba;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}

.feedback {
  display: inherit !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.formnewpass {
  border: 1px solid #fff;
  background-color: #fff;
  height: fit-content;
  border-spacing: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  /* Horizontally center the content */
  align-items: center;
  /* Vertically center the content */
  margin-bottom: 10px;
  /* Adjust margin as needed */
}

.search-bar-input {
  width: 35%;
  padding: 10px;
  border-radius: 20px;
  /* Adjust the border-radius value as needed */
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.search-bar-input :focus {
  border-color: rgb(251, 234, 233);
  box-shadow: 0 0 5px rgb(247, 54, 44);
}

.col-shadow {
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
}

.shadow-text {
  text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
}

.container {
  padding-top: 20px;
}

.col-md-8 {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.col-md-8 p {
  margin-bottom: 15px;
}

.list-group {
  padding: 10px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
}

.custom-btn {
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.delete-btn {
  background-color: #dc3545;
  /* Bootstrap danger color */
  color: white;
}

.save-btn {
  background-color: #007bff;
  /* Bootstrap primary color */
  color: white;
}

.custom-btn.delete-btn {
  margin-right: 10px;
}


.Btn-Login {
  justify-content: center;
  align-content: center;
  text-align: center;
}


.error-col {
  border: 1px solid #fff;
  background-color: #fff;
  height: 400px;
  border-spacing: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.seose {
  font-size: 10rem;
}

.NotFond {
  font-size: 3rem;
}

.inpro-card {
  margin-bottom: 10px;
}

.menu-header {
  margin-left: 15px;
}

.logout-img {
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

.profile-img {
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

.menu-items {
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}

.profile-menu {
  background-color: rgba(248, 123, 123, 0.5);
  border-radius: 8px;
  height: 550px;
  margin-left: 15px;
  margin-right: 15px;
}

.profile-info-col {
  border-radius: 8px;
  height: 550px;
  margin-left: 15px;
  margin-right: 15px;
}

.my-favorite {
  background-color: #fff;
  border-radius: 8px;
  height: 550px;
  margin-left: 15px;
  margin-right: 15px;
}

.profile-con {
  display: flex;
  justify-content: center;
}

.profile-info {
  height: 370px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
}

.mycourse-col {
  height: 160px;
  border-radius: 8px;
  background-color: #fff;
}

.info-row {
  display: flex;
}

.option-con {
  text-align: center;
}

.personal-header {
  font-style: bold;
  font-size: 24px;
  color: #000;
  padding: 10px;
}

.my-header {
  font-style: bold;
  font-size: 24px;
  color: #000;
  padding: 10px;
}

.myfav-header {
  text-align: center;
  margin-top: 15px;
}

.text-info-pro {
  margin-left: 15px;
}

.edit-Btn {
  margin-top: 200px;
}

.edit-icon {
  height: 40px;
  width: 40px;
}

.study-con {
  background-color: rgba(248, 123, 123, 0.5);
  border-radius: 8px;
  margin-top: 30px;
  max-width: 90%;
  height: 580px;
}

.main-study {
  border: 1px solid #fff;
  margin-left: 20px;
  border-radius: 8px;
}

.Card-course-study{
  background-color: #fff;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-video {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
  height: 400px;
}

.video-list {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-right: 20px;
  height: 540px;
}

.save-pro-Btn {
  height: 50px;
  width: 50px;
}

.data-text {
  margin: 0;
  margin-top: 5px;
  margin-left: 20px;
}

.col-md-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto; /* To center horizontally */
  margin-right: auto; /* To center horizontally */

}

.progressbar-data {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 400px) {
  .profile-con {
    padding: 0 10px;
    height: fit-content;
  }

  .profile-row {
    flex-direction: column;
    align-items: center;
    /* Center-align the components */
  }

  .profile-menu,
  .profile-info-col,
  .personal-info,
  .my-favorite {
    width: 80%;
    /* Reduce width to make them smaller */
    padding: 0;
    /* Reduce padding for smaller spacing */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Center-align text content */
    margin: 20px auto;
    /* Add spacing between components */
  }

  .my-card {
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
  }

  .profile-menu {
    margin: 30px auto;
    /* Increase margin for additional spacing */
  }

  .personal-header {
    margin-left: 0;
  }

  .edit-icon {
    display: none;
  }
  
  .personal-info,
  .mycourse-col {
    font-size: 12px;
    width: 100%;
    /* Set width to 100% */
    border-radius: 5px;
    /* Make border radius smaller */
    max-height: 150px;
    /* Set maximum height for scrollbar */
    overflow-y: auto;
    /* Add scrollbar when content exceeds max height */
  }
}

