.body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.loginInput {
    border-radius: 15px;
    padding: 20px;
}

.loginImageContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    border: 2px solid #fff;
}

.loginImage {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 0 auto;
}

.loginBackground {
    width: 100%;
    height: auto;
}

.username {
    width: 100%;
}

.resize {
    resize: none;
}

.text-center {
    text-align: center;
}

@media (max-width: 550px) {
    .loginContainer {
        flex-direction: column;
    }

    .loginInput {
        margin-bottom: 20px;
    }

    .loginImageContainer {
        width: 100%;
        margin-left: 0;
        display: none; 
    }
}

@media (max-width: 576px) {
    .loginInput {
        padding: 10px;
    }
}

.header {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #fff;
}