/* LoginCss.module.css */
.test {
    /* Your existing styles */
}

.leftAlign {
    text-align: left;
}

.test123 {
    margin-top: 10px;
}

.test123:hover {
    cursor: pointer; 
}

.test123 span {
    margin-right: 50px;
}
