.paymentContainer {
  border-radius: 8px;
  height: 550px;
  width: 90%;
}

.orderCol {
  border-radius: 8px;
  width: 50%;
  margin-right: 15px;
  height: fit-content;
}

.orderCard {
  justify-content: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.paymentMethod {
  border-radius: 8px;
  width: 50%;
  margin-right: 15px;
}

.methodCon {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  height: 550px;
  margin-bottom: 15px;
}

.methodText {
  text-align: center;
}

.choosebank {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: 30px;
}

.confirmBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.choosebank img {
  margin: 10px;
}


.totalPrice {
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  width: 50%;
  margin-left: 50%;
  padding: 10px;
}

.InfoInput {
  margin-top: 15px;
  margin-bottom: 15px;
}

.order-list {
  overflow-y: auto;
  max-height: 550px; 
  padding-right: 15px; 
}

.orderCard {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add border for separation */
  cursor: pointer; /* Change cursor to indicate clickable */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.orderCard:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light background color on hover */
}
