.regisContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.regisInput {
    border-radius: 15px;
    padding: 20px;
}

.regisImageContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #fff;
}

.regisImage {
    width: 100%;
    height: 50%;
    max-width: 150px;
    margin: 0 auto;
}

.regisBackground {
    width: 400px;
    height: 400px;
}

.username {
    width: 100%;
}

.resize {
    resize: none;
}

.text-center {
    text-align: center;
}

@media (max-width: 550px) {
    .regisContainer {
        flex-direction: column;
    }

    .regisInput {
        margin-bottom: 20px;
    }

    .regisImageContainer {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .regisInput {
        padding: 10px;
    }
}

.header {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #fff;
}
